@media (max-width: 800px) {
  #box {
    font-size: 40px;
  }

  #box select {
    font-size: 60px;
    height: 200px;
  }

  #formCesar textarea {
    font-size: 40px;
    width: 400px;
    height: 100px;
  }

  #formBase textarea {
    font-size: 40px;
    width: 400px;
    height: 100px;
  }
}
