@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
body {
  font-family: "ABeeZee", sans-serif;
  background-image: url(./gif/dbdhoju-2953e0d9-f588-4611-8856-a1669bd066b1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  text-align: center;
  color: white;
  width: 100%;
  background-color: transparent;
}

#cabecalho {
  text-align: center;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
}

#box {
  background-color: #42c920;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  padding: 1%;
  border-radius: 20px;
  text-shadow: 0px 0px 4px black;
  font-size: 15px;
}

#box select {
  text-align: center;
  font-size: 15px;
  width: 50%;
  height: 30%;
  border-radius: 18px;
}

#formCesar {
  text-align: center;
  display: none;
  flex-direction: column;
}

#passos {
  transition: all 0.3s;
}

.msg textarea {
  width: 300px;
  height: 30px;
  margin-bottom: 3%;
}

.msg2 textarea {
  width: 300px;
  height: 30px;
  margin-top: 3%;
}

#formCesar button {
  width: 310px;
}

#formBase {
  text-align: center;
  display: none;
  flex-direction: column;
}

#msg textarea {
  width: 300px;
  height: 30px;
  margin-bottom: 3%;
}

#msg2 textarea {
  width: 300px;
  height: 30px;
  margin-top: 3%;
}

#formBase button {
  width: 310px;
}
